

.contact-in {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 18px;
    border-radius: 10px;
  
  }
  
  .contact-map {
    width: 100%;
    height: auto;
    flex: 50%;
  }
  
  .contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
  }